

*{
            margin: 0;
            padding: 0;
}


button {
            width: 250px;
            height: 50px;
            text-align: left;
            position: relative;
            border:none;
            outline: none;
            border-radius: 10px;
            box-shadow: 0 3px 3px #aaa;
            margin: 40px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            padding-left: 10px;
            box-sizing: border-box;
            background-color:skyblue;
 
}
 
button::after {
            content: "";
            position: absolute;
            background-color:green;
            width: 30px;
            margin-right: 155px;
            bottom: 0;
            top: 0;
            right: 0;
            transform: skew(-30deg);
} 
button::before{
            content:"download";
            line-height: 50px;
            text-align: center;
            border-radius: 0 10px 10px 0;
            position: absolute;
            background-color:violet;
            width: 170px;
            bottom: 0;
            top: 0;
            right: 0;
}

button:hover{
	         color:blue;
            filter: brightness(1);
}

h1{
 
            text-transform:uppercase;
            text-color:"#45ff2f";
            
}
h2{
            text-color:#29f129;
             text-transform:uppercase;
}
h3{
           
             text-transform:uppercase;
}
body{
  background-color:white;
  width:auto;
  border: 3px solid black;
  padding:20px;
  margin:20px;
  left:20px;
}
embed{
	padding:20px;
  margin:20px;
  left:20px;

}